@model M_ventas_y_cc.Models.DETALLES_FACT_PAGO

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DETALLES_FACT_PAGO</h4>
    <hr />
    <dl class="dl-horizontal">
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DETALLES_FACT_PAGOId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
